<%- errorMessagesFor(book) %>
<div class="control-group">
   <%- form.label("author", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("author") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("name") %>
   </div>
</div>
