<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li><a href="<%- pathTo.books %>">books</a> <span class="divider">/</span></li>
    <li class="active"><a href="#">Edit book</a></li>
</ul>

<div class="page-header">
    <h1>Edit book</h1>
</div>

<% var form = formFor(book, {action: pathTo.book(book), method: 'PUT', id: "book-form", class: 'form-horizontal'}) %>
<%- form.begin() %>
<%- include _form %>
<div class="form-actions">
    <%- form.submit('<i class="icon-ok icon-white"></i> Update book', {class: 'btn btn-primary'}) %> or
    <%- linkTo('Cancel', pathTo.book(book), {class: 'btn'}) %>
</div>
<%- form.end() %>
